# <center> <u>Data Structures <u> </center>

## 1. Lists

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'

a=[]

In [2]:
# print the value of a
print(a)

[]

In [3]:
# print the type of a

print(type(a))

<class 'list'>

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [6]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [7]:


for l in languages:
  print(l)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [8]:
temp = languages[1]

Print the value of temp and type(temp)

In [9]:

print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [22]:

[l for l in languages[len(languages)-2:len(languages)]]

['Scala', 42]

Append the element 'Java' in the list

In [23]:
languages.append("Java")

Remove the element 42 from the list and print the list

In [24]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [26]:
 colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [27]:

colors.append("Black")

Append the color 'Orange' to second position (index=1) and print the list

In [28]:

colors.insert(1,"Orange")

Print the list

In [29]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [30]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [31]:
colors.extend(colors2)

Print len of colors and its elements

In [32]:

print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [33]:

print(sorted(colors))

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [14]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [37]:
words= sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [39]:
words_lower= [w.lower() for w in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [43]:
print("country" in words_lower)

False

Remove the element ‘the’ from the list and print the list.

In [42]:

words_lower.remove("the")
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [44]:
x4=words_lower[:4]

In [45]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [46]:

print(" ".join(x4))

coronavirus caused lockdowns around

## 2. Sets

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [47]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [48]:

len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [49]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [50]:

print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [52]:

print(type(stud_grades), stud_grades)
print(type(stud_grades_set), stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'C', 'F', 'B', 'A'}

Add a new element ‘G’ to stud_grades_set

In [53]:
stud_grades_set.add("G")

Add element 'F' to stud_grades_set. and print it.

In [55]:

stud_grades_set.add("F")

print(stud_grades_set)

{'G', 'C', 'F', 'B', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [56]:

stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [57]:

print(stud_grades_set)
print(len(stud_grades_set))

{'G', 'C', 'B', 'A'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [58]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [59]:

print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [60]:
colors_set= set(colors)
fruits_set= set(fruits)

print(colors_set)
print(fruits_set)

{'orange', 'red', 'blue'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [61]:

colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [62]:

colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [63]:

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [65]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [66]:

for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [67]:
temp[0] = 11

Set temp1 = tuple(temp)

In [68]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [69]:

for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [70]:
temp1[0] = 17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [71]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [72]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [73]:
 city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [76]:
cities = (city, city2)

Print cities

In [77]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [78]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [79]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [1]:
d =  {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [2]:
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [3]:
actor=d['actor']

Print the type of actor

In [4]:
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [5]:
l=d['list']

Print the type of l.

In [6]:
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [7]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [8]:
d.update(d1)

# d = {**d, **d1}

print d

In [9]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [10]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [11]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [13]:
for k,v in d.items():
  print(k," ---> ",v)

actor  --->  amir
animal  --->  cat
earth  --->  2
list  --->  [23, 32, 12]
singer  --->  Kr$na
album  --->  Still here
genre  --->  hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [15]:
char_count = {}

for char in sent:
    if char not in char_count:
            char_count[char] = 1
    else:
            char_count[char] += 1

print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}

# -------------------------------------------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# -------------------------------------------------------------------------------------------------------